*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  html, body{
    height: 100%;
    overflow: hidden;
  }
  body {
    background: #8e7dbe;
    font-family: 'Open sans',sans-serif;
  }
  
  .lego {
    
    border-width: 3px;
    border-style: solid;
    border-color: #ffc37b;
    color: #ffc37b;
    width: 79px;
    height: 79px;
    display: block;
    border-radius: 50%;
    position: absolute;
    margin-left: -39.5px;
    margin-top: -39.5px;
    bottom: 45px;
    right: 30px;
    background-size: 75% auto;
    opacity: 0;
  }
  
  .lego__text {
    bottom: -25px;
    width: 100%;
    text-align: center;
    margin-left: -13px;
    font-size: 12px;
  }
  
  .lego__text--header {
    top: -25px;
    font-size: 10px;
    margin-left: 0;
  }
  
  .restart {
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: -16px;
    margin-top: 128px;
    background-size: 50% auto;
    opacity: 0;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
  }
  
  .restart:hover {
    cursor: pointer;
    border-color: #ccc;
  }
  
  .github {
    border-width: 3px;
    border-style: solid;
    border-color: #cdb4db;
    width: 201px;
    height: 201px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -181px;
    margin-left: -100.5px;
    background-size: 75% auto;
    opacity: 50;
  }
  
  .github__text {
    bottom: -40px;
    color: #cdb4db;
    width: 100%;
    text-align: center;
  }
  
    
  .line {
    width: 2px;
    height: 0;
    top: 50%;
    left: 50%;
    margin-left: -1px;
    background: #b9faf8;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
  }
  
  .bubble {
    width: 24px;
    height: 24px;
    border-width: 12px;
    border-style: solid;
    border-color: #ffafcc;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    opacity: 0;
  }
  
  .bubbles {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: -100px;
    margin-left: -10px;
  }
  
  .easy {
    top: 50%;
    left: 50%;
    line-height: 240px;
    background: #fefee3;
    border-radius: 50%;
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    font-size: 60px;
    color: #8e7dbe;
    text-transform: uppercase;
    z-index: 11;
    width: 0;
    height: 0;
    overflow: hidden;
  }
  
  .easy__wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .easy__text {
    width: 100%;
    height: 100%;
  }
  
  .easy__line {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: #cdb4db;
    z-index: 0;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
  
  .drop {
    width: 4px;
    height: 4px;
    top: 50%;
    left: 50%;
    opacity: 0;
  }
  
  .spark {
    background: #b8d0eb;
    opacity: 0;
    border-radius: 50%;
  }
  
  .thunder-bg {
    background: #b298dc;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  .arrow {
    width: 2px;
    height: 200px;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    background: #00ffc6;
    top: -100%;
    left: 100%;
    margin-top: -175px;
  }
  
  .arrow--center {
    margin-left: -28px;
    margin-top: -120px;
  }
  
  .arrow--wrap {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: 0;
    background: 0 0;
  }
  
  .car {
    height: 10px;
    width: 40%;
    opacity: 0;
  }
  
  .car--1 {
    right: 100%;
    top: 40%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .car--2 {
    left: 100%;
    top: 60%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
  
  .text {
    font-family: 'Open Sans';
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    letter-spacing: 10px;
  }
  
  .text--fast {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .text--robust {
    top: 50%;
    left: 50%;
    margin-left: -200px;
    z-index: 8;
    overflow: hidden;
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
  }
  
  .text--robust__shade {
    background: #8e7dbe;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  .text--robust__shade--1 {
    -webkit-transform: skew(-20deg) translateX(-4px);
    -ms-transform: skew(-20deg) translateX(-4px);
    transform: skew(-20deg) translateX(-4px);
    left: -90px;
  }
  
  .text--robust__shade--2 {
    width: 90px;
    right: 0;
  }
  
  .text__bit {
    top: 50%;
    left: 50%;
  }
  
  .text__bit--1 {
    margin-left: -90px;
  }
  
  .text__bit--2 {
    margin-left: -45px;
  }
  
  .text__bit--3 {
    margin-left: 0;
  }
  
  .text__bit--4 {
    margin-left: 45px;
  }
  
  .text__bit__inner {
    display: inline-block;
    position: static;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
  }
  
  .text__bit span {
    display: inline-block;
    margin-top: -30px;
  }
  
  .c-green-g {
    background: #e0aaff;
  }
  
  .c-green-c-g {
    color: #fefee3;
  }
  
  .c-grey-g {
    background: #fffdfd;
  }
  
  .c-red-g {
    background: #c35690;
  }
  
  .circle {
    border-radius: 50%;
  }
  
  .center {
    top: 50%;
    left: 50%;
  }
  
  .a-g {
    position: absolute;
  }
  
  div {
    position: absolute;
    z-index: 10;
    font-family: 'Open sans',sans-serif;
  }
  
  .screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .screen--robust {
    z-index: 1;
  }
  
  .screen--easy {
    z-index: 12;
  }
  
  .screen--logos {
    z-index: 20;
  }
  
  .inherit-bg {
    background: inherit;
  }
  
  .velocity {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #f7d1cd;
    font-size: 70px;
    text-transform: uppercase;
    font-weight: 100;
    margin-left: 1320px;
    min-width: 400px;
    margin-top: -40px;
    -webkit-transform: translateX(-160px);
    -ms-transform: translateX(-160px);
    transform: translateX(-160px);
  }
  
  .velocity span {
    display: inline-block;
  }